@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    overflow: hidden;
    position: relative;
   
}
.calender-wrapper{
    width : 70vw;
    margin:auto;
    padding: 8vh 30px;
    position: relative;
    height:100vh;
}
a{
    text-decoration: none;
}
.home-link{
    position: absolute;
    top : 20px;
    left:30px;
    padding: 5px 15px;
    background-color: #9a00f8;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}

.home-link:hover{
    color:#fff;
}

#save-btn{
    position: absolute;
    bottom: 6%;
    left:55px;
    padding:5px 10px;
    outline: none;
    border-radius: 10px;
    background-color: #9a00f8;
    color:rgba(255, 255, 255, 0.5);
    border:0;
    cursor: pointer;
    font-size: 1.5rem;
    width:200px;
    transition: .3s;
}

#save-btn:hover{
    color:#fff;
}

.calender-wrapper .year{
    position: absolute;
    top:1.5vh;
    left:50%;
    transform: translateX(-50%);
    font-size: 3.5vw;
    font-family: 'Whisper', cursive;
}

.month-control{
    display: flex;
    width : 100%;
    justify-content: center;
    align-items: center;
    gap : 50px;
    font-size: 1.5rem;
    margin:40px 0;
    user-select: none;

}

.month-control .month{
    width:60px;
    text-align: center;
}


.btn{
    background-color: transparent;
    border:none;
    outline: none;
    width:60px;
    height:60px;
    border-radius: 50%;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    background-color: rgba(0,0,0,.1);
}
.calender-day{
    width: 700px;
    height : 50px;
    margin:80px 0 40px 0 ;
    border-bottom: 1px solid black;
    margin:15px auto;

}

.calender-day .day{
    width:100px;
    float: left;
    text-align: center;
  
}
.calender-day .day:first-child{
    color:red;
}
.calender-day .day:last-child{
    color:blue;
}

.calender-date{
    clear: both;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    margin: auto;
    
}

.calender-date .date{
    width:100px;
    height:100px;
    padding-left: 15px;
    position: relative;
    background-color: transparent;
    z-index: 100; 

}
.current.date.check > i{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color:rgba(0,0,0,.3);
    z-index: -1;
    
}

.current.date.check:hover > i {
    color: #9a00f8;
}

.calender-date .date.current:hover{
    border: 1px inset black;
    box-shadow: 3px 3px 5px rgba(0,0,0,.5) inset;
    cursor: pointer;
}

.calender-date .date.current.currentclick{
    border: 1px inset black;
    box-shadow: 3px 3px 5px rgba(0,0,0,.5) inset;
}
.calender-date .date:nth-child(7n){
    color:blue;
}
.calender-date .date:nth-child(1),.calender-date .date:nth-child(8),.calender-date .date:nth-child(15),
.calender-date .date:nth-child(22),.calender-date .date:nth-child(29),.calender-date .date:nth-child(36)
{
    color:red;
}

.calender-date .date.other{
    color: rgba(0,0,0,.3)
}

.modal-picture{
    position: absolute;
    top:0;
    right:0;
    width:525px;
    height:100vh;
    backdrop-filter: blur(15px);
    padding:60px;
    transform: translateX(525px);
    transition: .3s;
    border-bottom-left-radius:50px ;
    border-top-left-radius:50px ;
}

.modal-picture.active{
    transform: translateX(0);
    border-left: 2px solid rgba(154, 0, 248,.5);
    z-index: 1000;

}

.preview-picture{
    width:100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items:center ;
    border-radius: 42px;
    border : 5px dashed rgba(0,0,0,.4);
    overflow: hidden;
    object-fit: cover;   
    margin-bottom: 48px;
}

.preview-picture > .preview-img{
    width:100%;
    height:100%;
    object-fit: cover;
    border:0;
    
   
}

.modal-picture > .input-date{
   text-align: center;
   width:100%;
   font-size: 25px;
   font-weight: 600;
   margin-bottom: 16px;

}
.modal-picture > .submit-form{
    width:100%;
}

.preview-picture > label{
    width:405px;
    height:405px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   

}

.preview-picture > label > span{
    display: inline-block;
    width:50px;
    height:50px;
    font-size: 2rem;
    border:2px dashed rgba(0,0,0,.3);
    border-radius: 50%;
    text-align: center;
    color:rgba(0,0,0,.3);
    position: relative;

}

.preview-picture > label > span::after{
    content: '사진 추가하기';
    position: absolute;
    font-size: 1rem;
    bottom: -50px;
    left: 50%;
    width:110px;
    transform: translateX(-50%);
}

.preview-picture > #img-file{
    width:0;
    height:0;
    visibility: hidden;
}

.preview-picture:hover{
    border-color: #9a00f8;
}
.preview-picture:hover *{
    color:#9a00f8;
    border-color: #9a00f8;
}

.submit-form > .input{
    width:100%;
    outline: none;
    border-radius: 8px;
    padding:5px 10px;
    border: 2px solid rgba(0,0,0,.3);
    font-size: 1.3rem;
}

.submit-form > .input::placeholder{
    font-size: 1rem;
    color:rgba(0,0,0,.3)
}

.submit-form > .input:focus{
    border:2px solid #9a00f8;
}
.submit-form > .img-title{
    margin-bottom: 10px;
    height:50px;
    margin-bottom: 16px;
}

textarea{
    resize: none;
}

.submit-form > .img-description{
    margin-bottom: 24px;
    height:150px;

}


#user-input-submit{
    width:100%;
    outline: none;
    border-radius: 8px;
    background-color: rgb(154, 0, 248);
    color:rgba(255, 255, 255, 0.5);
    transition: .2s;
    font-weight: bold;
    
    
}

#user-input-submit:hover{
  
    color:#fff;

}

.close-modal{
    position: absolute;
    top:0;
    right:0;
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color:#999999;
    cursor: pointer;
    width:50px;
    height:50px;
    transition: .2s;
   
}

.close-modal:hover{
    color:#fff;
    background-color: red;
}

.history-wrapper{
    width:100vw;
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.1);
    backdrop-filter: blur(5px);
    display: none;
   

}

.history-wrapper.show{
    display: block;
    z-index: 1100;
}

.history-wrapper > .history-modal{
    width:380px;
    aspect-ratio: 1/1.62;
    background-color: #fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
    padding:40px 40px;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0,0,0,.4);
}

.history-modal > .history-modal-close{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    position: absolute;
    top:0;
    right:0;
    border-top-right-radius: inherit;
    color:rgba(0,0,0,.3);
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.history-modal > .history-modal-close:hover{
    color:#fff;
    background-color: red;
}

.history-modal > .history-date{
    margin-bottom: 64px;
    font-size: 1.5rem;
}

.history-modal > .content-box >.content{
    margin-bottom: 16px;
    text-align: left;
    
}

.history-modal > .content-box >.content:nth-child(2n-1){
    display: block;
    margin-bottom: 8px;
    font-size: 2rem;
    font-weight: bold;
}

.history-modal > .content-box >.content:nth-child(2n){
    margin-bottom: 48px;
    
    
}

@media screen and (max-width : 1600px){
    .modal-picture{
        width:400px;
        padding:20px 50px;
    }
    .preview-picture{
        margin-bottom: 32px;
    }
    .submit-form > .img-description{
        margin-bottom: 16px;
        
    
    }
    .preview-picture > label{
        width:298px;
        height:298px;
    }
}